#version=DEVEL
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Partitions
part / --fstype=ext4 --ondisk=sda --size=4000
part /boot/efi --fstype=ext4 --ondisk=sda --size=500
part /boot --fstype=ext4 --ondisk=sda --size=500
part /var/lib/docker --fstype=ext4 --ondisk=sda --size=500
part /var/log --fstype=ext4 --ondisk=sda --size=500
part /var/backup --fstype=ext4 --ondisk=sda --size=500
part /var --fstype=ext4 --ondisk=sda --size=500

# OSTree setup
ostreesetup --osname="fedora-atomic" --remote="fedora-atomic" --url="file:///ostree/repo" --ref="fedora/28/x86_64/atomic-host" --nogpg
# Use graphical install
graphical
# Firewall configuration
firewall --use-system-defaults
# Keyboard layouts
keyboard --vckeymap=en --xlayouts='en'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=orange-appliance
# Root password
rootpw --iscrypted $6$nrbcSns9ahkheqHG$UziqfbG7CEwqJDuelN2nH8D0bJldSz6.PROPiPKOEktt7ofw40dCyIPhyXhZ8yy23udGSeyRCAyuJJnoqoWaQ0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Zurich --isUtc
# Additional users
user --groups=wheel --name=zuehlke --password=$6$ZGmE.75fNJp4IWeS$mpZkcd4d.Bfl9uZoYAAzGMw4ryiY8ODVLyzVN8Yo2wETCM2Z/rMUlLlN3KOs9ExFczCFP9AWeksn.ZCdeHfS1/ --iscrypted --gecos="Zuehlke Orange Appliance"
user --groups=wheel --name=maintenance --password=$6$ZGmE.75fNJp4IWeS$mpZkcd4d.Bfl9uZoYAAzGMw4ryiY8ODVLyzVN8Yo2wETCM2Z/rMUlLlN3KOs9ExFczCFP9AWeksn.ZCdeHfS1/ --iscrypted --gecos="Zuehlke Orange Appliance"
user --groups=wheel --name=kubernetes --password=$6$ZGmE.75fNJp4IWeS$mpZkcd4d.Bfl9uZoYAAzGMw4ryiY8ODVLyzVN8Yo2wETCM2Z/rMUlLlN3KOs9ExFczCFP9AWeksn.ZCdeHfS1/ --iscrypted --gecos="Zuehlke Orange Appliance"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

%post --erroronfail
rm -f /etc/ostree/remotes.d/fedora-atomic.conf
ostree remote add --set=gpg-verify=true --set=gpgkeypath=/etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-28-primary fedora-atomic 'https://dl.fedoraproject.org/atomic/repo/'
cp /etc/skel/.bash* /root
#install util apps
rpm-ostree install vim fail2ban git duplicity crontabs rsyslog tpm-tools openpts
#add the kubernetes user to the sudoers group
usermod -aG wheel kubernetes
#download latest helm binaries
curl -o helm.tar.gz https://storage.googleapis.com/kubernetes-helm/helm-v2.10.0-linux-amd64.tar.gz
tar -zxvf helm.tar.gz
mv linux-amd64/helm /home/kubernetes
chmod +x /home/kubernetes/helm
#kubernetes
sudo swapoff -a
su - kubernetes
git clone https://github.com/kubernetes-incubator/kubespray.git
sudo pip3 install -r requirements.txt
sudo setenforce 0
sudo vi /etc/selinux/config
git checkout tags/v2.6.0
%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
